.main__slider-img {
  display: flex;
}

.main__slider-1 {
  background-image: url('/src/img/antalya.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main__slider-2 {
  background-image: url('/src/img/dubai.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main__slider-3 {
  background-image: url('/src/img/sharm-el-sheykh.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__link {
  font-size: 14px;
  background-color: transparent;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  background-color: #22b3c1;
  border: 2px solid #22b3c1;
}

.main__link:hover {
  color: #22b3c1;
  border: 2px solid #22b3c1;
  background-color: #fff;
}

.main__top {
  color: #fff;
}

.main__top h1,
h2 {
  display: block;
}

.main__card {
  padding-left: 12px;
  padding-right: 12px;
}

.main__card:not(:last-child) {
  margin-right: 48px;
}

.main__bottom {
  margin-bottom: 120px;
}

.card__info-text {
  font-weight: 700;
  font-size: 24px;
  color: #22b3c1;
}
.card__info-description {
  color: #9f9f9f;
}

.swiper-pagination {
  margin-bottom: 80px;
}

.swiper-pagination-bullet {
  width: 10%;
  height: 2px;
  background-color: #fff;
  border-radius: 0;
}
