.nav__links-item {
  position: relative;
  color: #fff;
}

.nav__link {
  margin: 8px 14px;
  cursor: pointer;
}

.nav__link::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  background: white;
  top: 0;
  left: 0;
  margin-left: 15px;
  transition: 0.3s;
}
.nav__link:hover::after {
  transition: 0.3s;
  width: 20px;
}

.navbar__right-wrapper {
  color: #fff;
}

.header__socials {
  color: #fff;
}
