.nav__links-item {
  position: relative;
  color: #fff;
}

.nav__link::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  background: white;
  top: -4px;
  left: 0;
  transition: 0.3s;
}
.nav__link:hover::after {
  position: absolute;
  left: 0;
  top: -4px;
  transition: 0.3s;
  width: 40%;
}

.navbar__right-wrapper {
  color: #fff;
}

.header__socials {
  color: #fff;
}
