@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'Arial', sans-serif;
  background-color: #fff;
  font-size: 15px;
  color: #fff;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1320px;
  padding: 0 30px;
}

a {
  display: flex;
  margin: 0;
  padding: 0;
}
