@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'Arial', sans-serif;
  background-color: #fff;
  font-size: 15px;
  color: #afafaf;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1320px;
  padding: 0 30px;
}

a {
  display: flex;
  margin: 0;
  padding: 0;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 1422px) {
  .header__socials-list {
    padding-right: 24px;
  }
}

@media screen and (max-width: 140px) {
  body {
    width: 100%;
  }
}
